body {
  padding: 0px !important;
}

/* Navbar */
.navbar-brand {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-nav{
  font-family: 'Alegreya Sans SC', sans-serif;
}

.offcanvas {
  width: 70%;
  overflow-y: hidden;
}

.offcanvas-title {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #5c453e;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5);
}

.offcanvas-body {
  height: auto;
}

/* footer */
.offcanvas-footer {
  background-color: #5c453e;
  color: #fff;
  text-shadow: 1.5px 1.5px rgb(0 0 0);
  flex-grow: 1;
  padding: 1px
}

.logo {
  width: 100px;
}

.shadow-logo {
  color: #fff;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0) );
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.me {
  color: #fff;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0);
}

a {
  color: #fff;
  text-decoration: none;
}

/* container 1 = jumbotron overlay */
.back-nav {
  height: 56px;
}

.bg-1 {
  position: relative;
}

.bg-1::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.1));
  position: absolute;
}

.bg-2 {
  padding-top: 0.4rem;
}

.bg-2::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.1));
  position: absolute;
}

.overlay {
  position: absolute;
  top: 7%;
  right: 0;
  bottom: 0;
  left: 10%;
  color: #fff;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0);
  text-align: left;
  margin-top: 10%;
}

.my-btn {
  font-family: 'Shippori Antique B1', sans-serif;
  background-color: #ba8c34;
  color: #fff;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.my-btn:hover {
  background-color: #5c453e;
  color: #fff;
}

.carousel-item {
  display: inline;
  color: #ba8c34 !important;
}

/* container 2 */

.bg-overlay {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.judul {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5);
}

.isi {
  text-align: justify;
}

/* footer */
.footer {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5);
  background-color: #5c453e;
  color: #fff;
  height: 50px;
}

.logo-footer {
  height: 150px;
  margin-left: 70px;
}

/* Projects */
.judul-project {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.projects {
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.btn-project {
  color: #000;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  border-color: #aeaeae;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-project:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.7);
  background-color: rgb(49, 49, 49);
  border-color: #aeaeae;
}

/* card */
.card {
  border: 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.card-text {
  font-size: 12px;
  color: #a6adb4;
}

/* Modal Projects */
.modal-content{
  border: 0;
}

.modal-body{
  border: 0;
}

.card-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card-img-top {
  border-radius: .3rem;
}

.judul-modal {
  background-color: #5c453e;
  color: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.7);
  border-radius: .2rem;
}

.card-body {
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.7);
}

.card-icon {
  color: #777676;
  text-shadow: .5px 1px rgba(0, 0, 0, 0.7);
}

.modal-ket {
  font-size: 14px;
  color: #a6adb4;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}

.modal-status {
  color: rgb(51, 51, 51);
  padding: .5rem;
}

.modal-close {
  pointer-events: auto;
  color: #5c453e;
  background-color : #ffffff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.6) !important;
}

/* Form Pemesanan */
.container-form {
  width: 100%;
  min-height: 88.8vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 65px;
  padding-bottom: 15px;
  background: #ffffff;
}

.form {
  width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 90px 55px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.6) !important;
}

.form-label {
  font-family: 'Shippori Antique B1', sans-serif;
  margin-bottom: 0;
  margin-top: .5rem;
  margin-left: .5rem;
}

.form-control {
  border-radius: 1rem;
  background-color: #d6d6d646;
  border: 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.form-select {
  border-radius: 1rem;
  background-color: #d6d6d646;
  border: 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.input-group {
}

.my-select-border {
  border-radius: 0 1rem 1rem 0;
}

.input-group-text {
  border-radius: 0 1rem 1rem 0;
  /* background-color: #5c453e;
  color: #fff; */
}

.form-check {
  margin-top: 1rem;
}

.form-label-me{
  font-family: 'Shippori Antique B1', sans-serif;
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.form-check-label {
  flex-direction: column;
}

.form-check-gambar {
  margin-top: 1.5rem;
  border-radius: 1rem;
  background-color: #d6d6d646;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.btn-gb {
  background-color: #fff;
  color: #000;
}

.my-btn-accordion {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: .6rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
  background-color: #ba8c34;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0);
  border: 0;
  border-radius: 1rem;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.my-btn-info {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #ba8c34;
  color: #fff;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: 0 1rem 1rem 0;
} 

.my-btn-info:hover {
  background-color: #5c453e;
  color: #fff;
}

.my-btn-accordion:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.my-btn-accordion::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-header {
  border-radius: 1rem;
  box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.6);
}

.skb {
  color: rgb(56, 56, 56);
  text-decoration: none;
}

.perencanaan {
  display: none;
}


/* ..................................................... Desktop Version */
@media (min-width: 992px) { 
  .navbar-nav {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #ba8c34;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #ba8c34;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  /* footer */
  .footer {
    height: 150px;
  }

  /* Projects */
  .judul-project {
    font-size: 1.5rem;
  }
}