body {
  background-color: darkgray;
  height: 2000px;
}


/* NAVBAR OFFCANVAS */

.offcanvas {
  width: fit-content;
}

.offcanvas-footer {
  background-color: #5c453e;
  color: #fff;
  text-shadow: 1.5px 1.5px rgb(0 0 0);
}

.logo {
  padding-top: 2px;
  width: 100px;
}

.shadow-logo {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0) );
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

a {
  color: #fff;
  text-decoration: none;
}

/* ################################################################## */

.img1 {
  padding-top: 56px;
  padding-right: 0;
  padding-left: 0;
}

.jumbotron {
  position: absolute;
  top: 7%;
  right: 0;
  bottom: 0;
  left: 10%;
  color: #fff;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0);
  text-align: left;
  margin-top: 10%;
}

.img2 {
  padding-right: 0;
  padding-left: 0;
}

/* .................. Desktop ........................ */
@media (min-width: 992px) {
  .img2 {
    padding-top: 56px;
    padding-left: .75rem;
  }
}